.Home--main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.Home--left-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home--left-container h1 {
  display: none;
}
.Home--left-container h2 {
  font-size: 2rem;
}

.Home--left-container h1,
.Home--left-container h2 {
  margin: 0;
}

.Home--right-container {
  position: relative;
  height: 100%;
}

@media (min-width: 770px) {
  .Home--main-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 24px;
  }

  .Home--left-container {
    box-shadow: #d3d3d3 4px 4px 4px;
    background-color: #f8f8f8;
    z-index: 1;
  }

  .Home--left-container h1 {
    display: block;
  }

  .Home--right-container {
    background-color: #fff;
    padding-left: 12px;
  }
}
