.PokemonStat--main-container {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokemonStat--stat-name {
  margin: 0;
  font-weight: 700;
}

.PokemonStat--stat-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.PokemonStat--range-container {
  height: 16px;
  width: 100px;
  background-color: #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.PokemonStat--range {
  position: relative;
  height: 100%;
  background-color: #c11;
}
