.PokemonsList--main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.PokemonsList--container {
  margin-bottom: 36px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

@media (min-width: 770px) {
  .PokemonsList--container {
    padding-left: 24px;
    margin-bottom: 0;
  }
}
